@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header class="jumbotron" style="background-color: #222; font-family: Verdana, Geneva, Tahoma, sans-serif; color: white">
    <div class="text-center">
        <h1 class="display-4">Welcome to AREA51 Movie</h1>
    </div>
    <p class="lead">
        This Movie WebApp was made by Yaniar (05111840000047) and Intan (05111840000020) from PBKK-C class in order to practice implementing razorpages.
        <br /><br />
        Reference:
        <a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start?view=aspnetcore-5.0&tabs=visual-studio"> Tutorial: Get started with Razor Pages in ASP.NET Core </a> <br />
        <br />
    </p>
    <a href="/Movies" class="btn btn-primary btn-lg" style="        border: none;
        background: #583d72;
        box-shadow: 2px 2px 5px 1px #111111;
        color: white;">See Movie List</a>
</header>
